[booksBLock]
max = 10
orderBy = "title"
orderDirection = "asc"
==
<section id="aa-popular-category">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-popular-category-area">
                        <!-- start prduct navigation -->
                       <!--  <ul class="nav nav-tabs aa-products-tab">
                            <li class="active"><a href="#popular" data-toggle="tab">Popular</a></li>
                            <li><a href="#featured" data-toggle="tab">Featured</a></li>
                            <li><a href="#latest" data-toggle="tab">Latest</a></li>
                        </ul> -->
                        <h2 class="text-center">{{'Home.LatestBooks.heading'|_ }}</h2>


 						{% component 'booksBLock' %} 
 						
 					   <div class="aa-browse-btn-container ">
                           <a class="aa-browse-btn" href="{{ url('/allseries')}}">{{' Home.Browse_all_Series'|_}} <span class="fa fa-long-arrow-right"></span>
                           </a>
                       </div> 


                    </div>
                </div>        
            </div>    
        </div>
    </div>
</section>