[seriesBLock]
max = 4
orderBy = "title"
orderDirection = "desc"
==
<section id="aa-series-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-series-blog-area">
                      
                        <!-- Home Series Block Heading -->
                        <h2>{{ 'Home.seriesBolock.heading'|_ }}</h2>

                         {% component 'seriesBLock' %} 
                        
                        <div class="aa-browse-btn-container ">
                             <a class="aa-browse-btn" href="{{ url('/allseries')}}">{{'Home.Browse_all_Series'|_}} <span class="fa fa-long-arrow-right"></span>
                             </a>
                        </div>
                   </div>
                 
                 </div>

                </div>
                
           </div>
       </div>
</section>